@media (min-width: 320px) and (max-width: 767px) {
  .center{
      padding-right: calc(50% - 175px);
      padding-left: calc(50% - 175px);
  }

  main {
      margin-top: 64px;
  }

  .header__menu {
      padding-left: 16px;
      padding-right: 26px;
      justify-content: space-between;
  }

  .menu_group {
      padding-right: 0px;
  }

  .hidden {
      display: none;
  }

  .label_center {
      padding: 148px 56px;
  }

  .label_brand {
      min-width: 263px;
  }

  .brand__title {
      font-size: 38px;
  }
  .brand__subtitle {
      font-size: 20px;
  }

  .offer {
      display: grid;
      grid-template-columns: 1fr;
      width: 343px;
      gap: 32px;
      height: auto;
      margin: auto;
  }

  .offer__item_1 {
      grid-column: span 3;
      grid-row: 1;
  }

  .offer__item_2 {
      grid-column: span 3;
      grid-row: 2;
  }

  .offer__item_3 {
      grid-column: span 3;
      grid-row: 3;
  }

  .offer__item_4 {
      grid-column: span 3;
      grid-row: 4;
  }

  .offer__item_4 img {
      object-fit: cover;
      height: 111px;
  }

  .content {
      padding-top: 64px;
      padding-bottom: 85px;
  }

  .text {
      margin-bottom: 64px;
  }

  .products {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      grid-gap: 16px;
      text-align: left;
  }

  .item__content {
      padding: 24px 18px;
  }

  .subtitle {
      margin-bottom: 12px;
  }

  .product_text {
      margin-bottom: 18px;
  }

  .button_down {
      margin-top: 48px;
  }

  .footer__header {
      padding-left: 0;
      padding-right: 0;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 45px;
  }

  .fheader__text {
      color: #FBFBFB;
      font-size: 14px;
      font-weight: 300;
  }

  .footer__blur {
      padding: 0;
      padding-top: 64px;
      gap: 59px;
      flex-wrap: wrap;
      padding-bottom: 110px;
  }

  .footer__content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }

  .subscribe__subtitle {
      margin-bottom: 22px;
  }

  .subscribe__input {
      width: 200px;
      height: 49px;
      font-size: 14px;
      line-height: 17px;
      background: #E1E1E1;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
      padding-left: 22px;
      border: none;
  }

  .brand_box {
      padding: 43px 0px 9px 0px;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 40px;
  }

  .flip {
      order: 1;
  }
}
